@function px($size) {
    @return $size / 360 * 1rem;
 }
body,
html {
    box-sizing: border-box;
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/app_bg_01@3x.jpg);
    background-size: 100% 100%;
    max-width: 100%;
    font-size: 720%;
}
body{
    font-size:medium;
}
img {
    width: 100%;
    height: auto;
}
.cxd-banner {
    width: 100%;
    height: auto;
    position: relative;
}
.cxd-article {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: #fff;
    padding: px(30) px(15) px(20) px(15);
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: px(96);
    z-index: 1;
    img {
        width: px(66);
        height:px(66);
        z-index: 3;
        position: relative;
        top: px(5);
        left: px(10);
    }
    .f-main {
        z-index: 2;;
        width: calc(100% - 0.0833rem);
        margin: 0px px(10) px(10) px(20);
        padding-left: px(80);
        background-color: #6f4ba9;
        height: px(68);
        color: #fff;
        position: relative;
        top: px(-50);
        h2 {
            font-size: px(16);
            font-weight: bold;
            position: absolute;
            top:px(14);
        }
        h3 {
            font-size: px(12);
            font-weight: normal;
            position: absolute;
            bottom: px(14);
        }
        a {
            display: inline-block;
            border: 1px solid #fff;
            padding: px(6);
            font-size: px(14);
            font-weight: bold;
            position: absolute;
            top: px(20);
            right:px(15);
        }
    }
}
.openBrowser {
    position: fixed;
    top:0px;
    width:100%;
    height: auto;
    z-index: 9999999;
}
.mb {
    margin-bottom: px(105);
}

.loading {
    width: px(50);
    height: px(50);
    z-index: 1000000;
    position: fixed;
    top: calc((100% - 0.1389rem) / 2);
    left: calc((100% - 0.1389rem) / 2);
    @-webkit-keyframes changehovertree {
        0% {
            -webkit-transform: rotate(0);
        }
        50% {
            -webkit-transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes changehovertree {
        0% {
            transform: rotate(0)
        }
        50% {
            transform: rotate(180deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    img {
        width: px(50);
        height: px(50);
        animation: changehovertree 2s linear infinite;
        -webkit-animation: changehovertree 2s linear infinite;
    }
}
